@import url(https://fonts.googleapis.com/css?family=Roboto);

@media screen {
    html, body {
        margin: 40px;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    .main {
        display: grid;
        margin: 0 auto;
        grid-template-columns: 5fr 2fr;
        grid-gap: 10px;
    }

    #images-box {
        grid-template-columns: 1fr 1fr;
        display: grid;
    }

    #images-box img {
        width: 100%;
        padding: 2px;
    }

    .translation-canvas {
      position: absolute;
      top: 0;
    }

    #output .image {
        width: 33%;
    }

    #url {
        width: 100%;
    }
}

/*#input-dir {
  border: 2px dashed #bbb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #bbb;
  font-size: 20pt;
  font-weight: bold;
  padding: 25px;
  text-align: center;
  height: 700px;
}

#input-dir.hover {
  background-color: #def;
  border-color: #777;
  color: #777;
}*/

