@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*#input-dir {
  border: 2px dashed #bbb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #bbb;
  font-size: 20pt;
  font-weight: bold;
  padding: 25px;
  text-align: center;
  height: 700px;
}

#input-dir.hover {
  background-color: #def;
  border-color: #777;
  color: #777;
}*/

#images-box img {
    width: 200px;
    margin-left: 3px;
    margin-bottom: 3px;
}
.translation-canvas {
  position: absolute;
  top: 0;
}
#output .image {
    width: 33%;
}

#url {
    width: 100%;
}
